@model List<Movie>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pageSize = 8;
    int currentPage = Context.Request.Query.ContainsKey("page") ? int.Parse(Context.Request.Query["page"]) : 1;
    string currentFilter = Context.Request.Query.ContainsKey("filter") ? Context.Request.Query["filter"].ToString() : "all";
    int totalMovies = (int)ViewBag.totalPage;
    int totalPages = (int)Math.Ceiling((double)totalMovies / pageSize);
    var paginatedMovies = Model.Skip((currentPage - 1) * pageSize).Take(pageSize).ToList();
}

<h1 class="titlePage">List - Movies</h1>

@Html.Partial("_FilterOptions", currentFilter)

<div class="movie-list">
    @foreach (var movie in paginatedMovies)
    {
        @Html.Partial("_MovieCard", movie)
    }
</div>
@Html.Partial("_Pagination", (currentPage, totalPages, currentFilter))